$color-yellow: #FFC700;
$color-white: #FFFFFF;
$color-blue: #0499DD;
$color-black: #282828;
$color-gray: #EDEDED;

$font-main: "Montserrat", "Arial", sans-serif;

$md: 768px;
$lg: 1150px;
$sm-max: 767px;
$md-max: 1149px;
$lg-max: 1550px;
$padding--sm: 25px;
$padding--md: 80px;
$padding--lg: 160px;
