.about {
    padding-bottom: 150px;
}

.about__wrapper {
    background-image: url("../img/index/about-background-mobile.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 304px 704px;
    padding-top: 155px;
    padding-bottom: 150px;
    padding-right: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about__block {
    max-width: 380px;
    background-color: $color-gray;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 44px;
    border-radius: 10px;
}

.about__title {
    margin: 0;
    margin-bottom: 20px;
}

.about__description, .about__description {
    max-width: 294px;
    margin: 0;
}